/* Global Styles */

/* TODO CHANGE PRIMARY AND SECONDARY COLORS FOR BUTTONS */

:root {
  --primary-color: hsl(213, 96%, 18%);
  --secondary-color: hsl(252, 78%, 60%);
  --form-background: hsl(0, 0%, 100%);
  --shadow: hsla(213, 96%, 9%, 0.1);
  --text-light: hsl(0, 0%, 100%);
  --text-neutral: hsl(231, 11%, 63%);
  ;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-color: hsl(217, 100%, 97%);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--primary-color);
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* Form Styles */

#form__step-container {
  box-shadow: 0px 35px 50px -15px var(--shadow);
  width: 100%;
  background-color: var(--form-background);
  border-radius: .75rem;
}

.form__step {
  max-width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
}

/* Form buttons */

button {
  border: none;
  background-color: var(--primary-color);
  border-radius: .25rem;
  padding: .75rem 1.5rem;
  font-size: .85rem;
  cursor: pointer;
  font-weight: 500;
  min-width: 108px;
}

#form__buttons {
  box-shadow: 0px 35px 50px -15px var(--shadow);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--form-background);
}

#next-step-button {
  margin-left: auto;
}

.button-primary {
  color: var(--text-light);
  background-color: var(--primary-color);
}

.button-secondary {
  color: var(--text-light);
  background-color: var(--secondary-color);
}

.button-neutral {
  color: var(--text-neutral);
  background-color: var(--form-background);
  font-weight: 700;
  padding: .5rem 0;
  min-width: 0;
}

/* Attribution */

.attribution { 
  font-size: .65rem; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}