/* Global Styles */

:root {
  --primary-color: hsl(213, 96%, 18%);
  --secondary-color: hsl(243, 100%, 62%);
  --tertiary-color: hsl(206, 94%, 87%);
  --form-background: hsl(0, 0%, 100%);
  --shadow: hsla(213, 96%, 9%, 0.1);
  --dark-shadow: hsla(213, 96%, 9%, 0.4);
  --light-border: hsl(229, 24%, 87%);
  --text-light: hsl(0, 0%, 100%);
  --text-neutral: hsl(231, 11%, 63%);
  --error-color: hsl(354, 84%, 57%);
  --magnolia: hsl(217, 100%, 97%);

  /* UNUSED COLORS for challenge */
  --purplish-blue: hsl(243, 100%, 62%);
  --purple: hsl(252, 78%, 60%);
  --pastel-blue: hsl(228, 100%, 84%);
  --alabaster: hsl(231, 100%, 99%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-color: hsl(217, 100%, 97%);
  /* PADDING BOTTOM IS FOR MOBILE SO BUTTONS DON'T LET CONTENT HIDE BEHIND THEM */
  padding-bottom: 6em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: var(--primary-color);
}

p {
  font-size: 16px;
  line-height: 1.5
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  color: var(--primary-color);
}

button {
  border: none;
  background-color: var(--primary-color);
  border-radius: .25rem;
  font-size: .85rem;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  min-width: 7.5em;
  min-height: 3em;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* Form Styles */

#form__step-container {
  box-shadow: 0px 35px 50px -15px var(--shadow);
  width: 100%;
  background-color: var(--form-background);
  border-radius: .75rem;
}

.form__step {
  max-width: 85%;
  margin: 0 auto;
  padding: 1.5em 0;
}

.form__step-title {
  margin-top: .45rem;
}

.form__step-paragraph {
  color: var(--text-neutral);
  font-size: 1.05rem;
  margin-top: .75em;
}

/* Form Fields */

.form__group {
  display: flex;
  flex-direction: column;
  gap: .25em;
  margin-bottom: .5em;
}

.form__group input {
  border: 1px solid var(--light-border);
  color: var(--primary-color);
  border-radius: .25rem;
  padding: .75rem .75rem;
  font-size: 1rem;
  font-weight: 700;
}

.form__group label {
  font-size: .85rem;
}

.form__group input::placeholder {
  color: var(--text-neutral);
  font-weight: 500;
  padding: 0 .25em;
}

.form__label-error-group {
  display: flex;
  justify-content: space-between;
  margin: .5em 0 0 0;
}

.form__error-message {
  color: var(--error-color);
  margin: 0;
  font-weight: 700;
  font-size: .85rem;
}

/* Form step indicator */

#mobile-step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 2em 0;
  gap: .85em;
}

#desktop-step-indicator li {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}

#desktop-step-indicator p {
  margin: 0;
}

.step-indicator__number {
  width: 2em;
  height: 2em;
  border: 1px solid var(--text-light);
  border-radius: 50%;
  color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 0;
}

.step-indicator__active {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  color: var(--primary-color);
}

/* Form plan styles */

.form__plan-card {
  display: flex;
  align-items: start;
  gap: 1em;
  border: 1px solid var(--light-border);
  border-radius: .5rem;
  padding: 1em 1em;
  margin-bottom: .5em;
}

.form__plan-card p {
  margin: 0;
}

.form__plan-card--title {
  color: var(--primary-color);
  font-weight: 700;
}

.form__plan-card--price {
  color: var(--text-neutral);
  font-size: .85rem;
}

.form__plan-card--free-months {
  color: var(--primary-color);
  font-size: .8rem;
}

.form__plan-input {
  display: none;
}

.form__plan-input:checked + label {
  background-color: var(--magnolia);
  border: 1px solid var(--primary-color);
}

#form__plan-toggle-label {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  font-weight: 700;
  margin: 1.5em 0 .5em 0;
  color: var(--text-neutral);
}

#form__plan-toggle {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 35px;
  height: 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--primary-color);
}

#form__plan-toggle:checked {
  padding-left: 15px;
}

#form__plan-toggle:before {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 3px;
  background-color: var(--form-background);
  border-radius: 50%;
}

#form__plan-toggle:before, 
#form__plan-toggle:after {
  content: "";
  display: block;
}

.form__plan-toggle--active {
  color: var(--primary-color);
}

/* Form add-ons */
.form__addon-card {
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid var(--light-border);
  border-radius: .5rem;
  padding: .75em .75em;
  margin-bottom: .65em;
}

.form__addon-card:last-child {
  margin-bottom: 0;
}

.checkbox {
  width: 1.25em;
  height: 1.25em;
  border: 1px solid var(--light-border);
  border-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__addon-input:checked + .checkbox {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.form__addon-card--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.form__addon-card--row p {
  margin: 0;
}

.form__addon-card--title {
  color: var(--primary-color);
  font-size: .9rem;
  font-weight: 700;
}

.form__addon-card--details {
  color: var(--text-neutral);
  font-size: .8rem;
}

.form__addon-card--price {
  color: var(--secondary-color);
  font-size: .8rem;
}

.active-addon {
  background-color: var(--magnolia);
  border: 1px solid var(--secondary-color);
}

/* Form buttons */
#form__buttons {
  box-shadow: 0px 10px 50px -20px var(--dark-shadow);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--form-background);
}

#next-step-button {
  margin-left: auto;
}

.button-primary {
  color: var(--text-light);
  background-color: var(--primary-color);
}

.button-secondary {
  color: var(--text-light);
  background-color: var(--secondary-color);
}

.button-neutral {
  color: var(--text-neutral);
  background-color: var(--form-background);
  font-weight: 500;
  padding: .5rem 0;
  min-width: 0;
}

/* Attribution */

.attribution { 
  font-size: .65rem; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}